body {
  margin: 0;
  background-color: black;
  color: white;
}

section {
  margin: 8.5rem 2.5rem;
}

.visitors-container {
  background-color: #7000ff;
  padding: 2.5rem 0;
  padding-left: 2rem;
  border-radius: 0.7rem;
}
