body {
  margin: 0;
  background-color: #181818;
  color: white;
}

section {
  margin: 8.5rem 2.5rem;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.visitors-page-container {
  display: flex;
  gap: 1.8rem;
  flex-direction: column;
}

.visitors-container {
  background-color: #7000ff;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
  border-radius: 0.7rem;
}

h1 {
  font-size: 55px;
}

.visitors-container p {
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 0.5rem;
}

.page-unique-container {
  border: 3px solid #2e2e2e;
  padding-top: 4.5rem;
  padding-left: 3.8rem;
  padding-bottom: 4.5rem;
  display: flex;
  gap: 2.2rem;
  flex-direction: column;
  border-radius: 0.6rem;
}

.page,
.unique {
  display: flex;
  gap: 0.7rem;
}

h2 {
  font-size: 2rem;
}

.visitors-page-container p {
  font-size: 1.1rem;
}

button {
  width: 100%;
  text-decoration: none;
  color: white;
  background-color: #7000ff;
  padding: 0.9rem 2.1rem;
  margin-top: 1.8rem;
  border-radius: 0.7rem;
  font-size: 1.3rem;
  font-weight: 700;
  border: none;
}

.Launch-liveView-container p {
  color: #878787;
  text-align: center;
  width: 268px;
  margin: 0 auto;
  margin-top: 1.3rem;
  padding: 0.5rem;
  box-sizing: border-box;
}

@media only screen and (min-width: 900px) {
  .visitors-page-container {
    display: flex;
    flex-direction: row;
  }
  .visitors-container {
    width: 30%;
  }
  .page-unique-container {
    width: 70%;
    flex-direction: row;
    padding: 56px 0;
    padding-left: 44px;
  }
}

@media only screen and (min-width: 1200px) {
  section {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 1100px;
    /* margin-top: 8.5rem; */
    /* gap: 1.5rem; */
    /* align-items: start; */
  }
  /* button {
    /* margin-top: 0; */
  } */

  /* .Launch-liveView-container p {
    /* margin-top: 0; */
    /* text-align: start; */
  } */

  /* img {
    /* width: 50px; */
  } */
  /* .visitors-page-container {
    /* width: 100%; */
  } */
}
